__pycache__/
*.pyc
*.pyd
*.lib
*.exp
*.obj

.idea/
.vscode/

build/
venv/
reid_env/

/outputs/
/datasets/
/tmp/

frontend/dist/
frontend/node_modules/
frontend/.vite/

backend/app/core/config.py
backend/app/core/model_preferences.json

*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

fastreid/datasets/
fastreid/datasets_original/

EXPERIMENT_RULES.md
THESIS_RESEARCH_PLAN.md