
fastapi==0.109.2
uvicorn[standard]==0.27.1
python-multipart==0.0.9
pydantic-settings==2.1.0
email-validator==2.1.0.post1
Cython

sqlalchemy==2.0.25
pymysql==1.1.0


passlib[bcrypt]==1.7.4

bcrypt==3.1.7
python-jose[cryptography]==3.3.0



numpy<2.0.0
scikit-learn
pyyaml
yacs==0.1.8
gdown==5.1.0
requests==2.31.0
tensorboard==2.15.1
opencv-python==4.9.0.80
termcolor==2.4.0
tabulate==0.9.0
faiss-cpu==1.7.4